.favorite {
  text-align: center;
  padding: 10px 40px;
  &__container {
    padding-top: 32px;
    row-gap: 40px;
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
    img {
      transition: all 0.4s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
